body {
    font-family: "poppins", sans-serif;
}
#toast {
    position: fixed;
    right: 20px;
    top: 50px;
}

.toast {
    display: flex;
    align-items: center;
    border-radius: 10px;
    animation: moveleft 0.3s linear, fadeOut linear 0.7s 2s forwards;
}
@keyframes moveleft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

#toast .toast__success {
    border-left: #b7f7c4 4px solid;
}
.toast__success .toast__icon {
    color: #679e72;
}

#toast .toast__error {
    border-left: #c62b2e 4px solid;
}
.toast__error .toast__icon {
    color: #c62b2e;
}
.toast__icon,
.toast__close {
    margin: 0 16px;
    font-size: 20px;
}
.toast__close {
    color: #444444;
    font-weight: 700;
}
.toast__body {
    margin: 12px 80px 12px 0;
}
.toast__title {
    font-weight: 500;
}
.toast_message {
    font-size: 12px;
}

.btn {
    position: relative;
    display: inline-block;
    top: 50vh;
    left: 35%;
    border-radius: 20px;
    margin: 0 20px;
    cursor: pointer;
    padding: 0 20px;
    transition: opacity 0.5s ease;
}

.btn:hover {
    opacity: 0.7;
}
.btn-left {
    background-color: green;
}
.btn-right {
    background-color: red;
}
